{% extends "base.html" %}
{% block content %}
<h2>Register</h2>
<div class="card">
    <form method="POST">
        <label>Name</label>
        <input type="text" name="name" required>

        <label>Phone number</label>
        <input type="text" name="phone number" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Clients type</label>
        <select name="client_type">
            <option value="1">Person</option>
            <option value="2">Company</option>
        </select>

        <button type="submit">Register</button>
    </form>

    {% if message %}
        <div class="message {{ 'ok' if message.startswith('[+]') else 'err' }}">{{ message }}</div>
    {% endif %}
</div>
{% endblock %}
