{% extends "base.html" %}
{% block content %}
<h2>Add staff</h2>
<div class="card">
    <form method="POST">
        <label>N,S </label>
        <input type="text" name="full_name" required>

        <label>position</label>
        <input type="text" name="position" placeholder="например, Риелтор" required>

        <button type="submit">Add</button>
    </form>

    {% if message %}
        <div class="message {{ 'ok' if message.startswith('[+]') else 'err' }}">{{ message }}</div>
    {% endif %}
</div>
{% endblock %}
